        * {
            margin: 0;
            font-family: 'Courier New', Courier, monospace;
            box-sizing: border-box;
        }
        #main {
            text-align: center;
            padding-top: 100px;
        }
        input[type='text'] {
            width: 30%;
            padding: 10px;
            border: 2px solid black;
            margin-bottom: 5px;
            margin-top: 20px; 
        }
        input[type='submit'] {
            width: 30%;
            padding: 10px;
            border: 2px solid black;
            background: black;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
        }
        form {
            margin: 10px;
        }